
    <ion-content class="modal-parent" style="outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;margin-top: 40%;
    width: 75%;
    height:20%;
    background-color: #eee;
    margin-left: 15%;
    margin-right: 20%;background-color: #FFFFFF;" >
        <div class="bar bar-header bar-light">
  <h1 class="title">Forgot-Password</h1>
</div>
  <form name="resetPasswordForm" role="form" ng-submit="reset(changePwd,resetPasswordForm.$valid)" data-ng-model="changePwd" novalidate>
            <div >
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line" show-errors>
                    <input type="text" name="uname" style="height: 100px;
    font-size: 20px;" data-ng-model="changePwd.username"  placeholder="Enter Username/Email"  required>
                </div>
                
            </div>
            <button type="submit" style="width: 100%;
    height: 44px;
    background: #7A9A01;"<i class="zmdi zmdi-arrow-forward"></i></button>
        </form>
    </ion-content>




