<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!-- <ion-view view-title="{{canInfo.Textarea__Name_1835488}}" > -->
<!--  <ion-header>
  <h1>{{canInfo.Textarea__Name_1835488}}</h1>
 <img src="img/ellipse.png" ng-click="openellipsePopoverInForms();" class="heder_sync">
  
  </ion-header>
  <ion-content class="padding">
   
<div class="container">
              
  <table class="table table-bordered" style="table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}">
    <thead>
      <tr>Visitor Information</tr>
    </thead>
    <tbody>
      <tr>
       <td>Visitor Name</td> <td>{{canInfo.TextBox__name_1832852}}</td>
      </tr>
      <tr>
       <td>CAN NO</td> <td>{{canInfo.TextBox__name_1832886}}</td>
      </tr>
       <tr>
       <td>Problem Type</td> <td>{{canInfo.Checkbox__name_1834358+[] | uppercase}}</td>
      </tr>
      <tr>
       <td>Description</td> <td>{{canInfo.Textarea__Name_1835488}}</td>
      </tr>

      <tr>
       <td>Address</td> <td>{{canInfo.Textarea__Name_1833210}}</td>
      </tr>
      <tr>
       <td>Division</td> <td>{{canInfo.Textarea__Name_1833210}}</td>
      </tr>
       <tr>
       <td>Phone</td> <td>{{canInfo.TextBox__name_1833315}}</td>
      </tr>
      <tr>
       <td>Description</td> <td>{{canInfo.Textarea__Name_1835488}}</td>
      </tr>
    </tbody>
  </table>

 -->


<!-- <input type="checkbox" ng-model="accept">:ACCEPT
<input type="checkbox" ng-model="reject">:REJECT


<div ng-show="accept">

<textarea rows="4" cols="50"></textarea>
<select>
<option ng-repeat="x in names">{{x}}</option>
</select>
</div>


<div ng-show="reject">
<textarea rows="4" cols="50"></textarea>

</div>  <br><br><br>
 -->

  <!-- </ion-content> -->
<!-- </ion-view> -->
<ion-header-bar class="bar-positive" >
 new header
 <img src="img/ellipse.png" ng-click="openellipsePopoverInForms();" class="heder_sync">
  </ion-header-bar>
  <ion-content hide-nav-bar="true">
    
hi Abhilash h

  </ion-content>
